html{
	height: 100%;
}
body{
	background: rgb(232, 232, 232);
	height: 100%;
}
#navbar-wrapper{
	background: transparent;
	outline: 0;
	border: none;
	transition: all .25s linear;
	padding-top: 10px;
	padding-bottom: 10px;
}
#logo{
	color: white;
	font-size: 28px;
	margin-left: 32px;
	position: relative;
	padding-left: 56px
}
#logo img{
	width: 50px;
	height: 50px;
	object-fit:cover;
	object-position:center center;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}
.navbar-toggle{
	border: none;
}
.navbar-toggle:hover{
	background-color: rgba(0,0,0,0.3);
}
.navbar-toggle:focus{
	background-color: rgba(0,0,0,0.3);
}
.navbar-header{
	padding-left: 10px;
	padding-right: 10px;
}
#nav-list ul{
	padding-right: 160px;
}
#nav-list ul li a{
	color: white;
	letter-spacing: 3px;
	font-size: 13px;
}
#mainMask{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.2);
}
#mainMask h1{
	font-weight: 100;
	color: white;
	font-size: 60px;
	letter-spacing: 2px;
	max-width: 80%;
	display: inline-block;
	margin: 200px auto 0px auto;
}
#mainMask h4{
	color: white;
	font-weight: 200;
	letter-spacing: 2px;
	margin: 100px auto 0px auto;
	text-align: center;
	display: inline-block;
	max-width: 80%;
	line-height: 30px;
}
.parallax{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover; 
}
footer.container-fluid{
	background-color: #737373;
	margin-top: 40px;
}
footer.container-fluid .container .row ul{
	list-style: none;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}
footer.container-fluid .container .row ul li{
	margin: 16px 0px 16px 0px;
	text-align: center;
	width: 100%;
}
footer.container-fluid .container .row ul li a{
	color: white;
	font-weight: 100;
	font-size: 14px;
}
#footerInfo{
	background-color: #222222;
	min-height: 200px;
}
#footerInfo p{
	font-size: 14px;
	font-weight: 100;
	color: darkgrey;
	margin-top: 60px;
	margin-bottom: 20px;
	letter-spacing: 2px;
}
