<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" type="text/css" href="../plugin/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/teamIntroduce.css"/>
		<title>一暖设计</title>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" id="navbar-wrapper">
			<div class="container-fluid" id="navbar-content">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-list" aria-expand='false'>
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" id="logo">一暖设计</a>
				</div>
				<div class="collapse navbar-collapse" id="nav-list">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="">(844)562-6725</a>
						</li>
						<li>
							<a href="#">为什么选择一暖</a>
						</li>
						<li>
							<a href="#">案例展示</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container-fluid parallax" id="headerPic">
			<h1>人员简介</h1>
			<div id="mainMask"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="teamPerson">
						<img src="../images/teamIntroduce-HeaderPic.jpg" class="img-circle"/>
						<h1>仇少龙</h1>
						<h3>总经理</h3>
						<p>团队负责人，从业10年经验丰富。
						团队负责人，从业10年经验丰富。
						团队负责人，从业10年经验丰富。</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="teamPerson">
						<img src="../images/teamIntroduce-HeaderPic.jpg" class="img-circle"/>
						<h1>仇少龙</h1>
						<h3>总经理</h3>
						<p>团队负责人，从业10年经验丰富。
						团队负责人，从业10年经验丰富。
						团队负责人，从业10年经验丰富。</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="teamPerson">
						<img src="../images/teamIntroduce-HeaderPic.jpg" class="img-circle"/>
						<h1>仇少龙</h1>
						<h3>总经理</h3>
						<p>团队负责人，从业10年经验丰富。
						团队负责人，从业10年经验丰富。
						团队负责人，从业10年经验丰富。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid parallax" id="middlePic">
			<h1>团队概况</h1>
			<div id="mainMask"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="teamSubContent">
						<header class="clearfix">
							<!--<img src="../images/banner3.jpeg" class="img-circle pull-left"/>-->
							<h3 class="pull-left">团队起源</h3>
						</header>
						<section>
							团队起源于2017年。团队起源于2017年。团队起源于2017年。团队起源于2017年。团队起源于2017年。团队起源于2017年。团队起源于2017年。
						</section>
						<header class="clearfix">
							<!--<img src="../images/banner3.jpeg" class="img-circle pull-left"/>-->
							<h3 class="pull-left">团队发展</h3>
						</header>
						<section>
							团队发展团队发展团队发展团队发展团队发展团队发展团队发展团队发展团队发展团队发展
						</section>
						<header class="clearfix">
							<!--<img src="../images/banner3.jpeg" class="img-circle pull-left"/>-->
							<h3 class="pull-left">团队目标</h3>
						</header>
						<section>
							团队发展团队发展团队发展团队发展团队发展团队发展团队发展团队发展团队发展团队发展
						</section>
						<header class="clearfix">
							<!--<img src="../images/banner3.jpeg" class="img-circle pull-left"/>-->
							<h3 class="pull-left">团队规划</h3>
						</header>
						<section>
							团队发展团队发展团队发展团队发展团队发展团队发展团队发展团队发展团队发展团队发展
						</section>
						<header class="clearfix">
							<!--<img src="../images/banner3.jpeg" class="img-circle pull-left"/>-->
							<h3 class="pull-left">团队格言</h3>
						</header>
						<section>
							团队发展团队发展团队发展团队发展团队发展团队发展团队发展团队发展团队发展团队发展
						</section>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid parallax" id="bottomPic">
			<h1>团队格言</h1>
			<div id="mainMask"></div>
		</div>
		<footer class="container-fluid">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
					<ul>
						<li><a href="#">团队介绍</a></li>
						<li><a href="#">优势简介</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul>
						<li><a href="#">相关资讯</a></li>
						<li><a href="#">常见问题</a></li>
						<li><a href="#">联系我们</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul>
						<li><a href="#">版权所有</a></li>
						<li><a href="#">条款&政策</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul>
						<li><a href="#">微博</a></li>
						<li><a href="#">微信</a></li>
						<li><a href="#">QQ</a></li>
					</ul>
				</div>
				</div>
			</div>
		</footer>
		<div class="container-fluid" id="footerInfo">
		<div class="container">
				<p>* Rates displayed are subject to change and assumes that you are refinancing an owner-occupied single family home, all borrowers have credit scores of 740 or higher, debt-to-income ratios of 35% or lower, asset and reserve requirements are met, and your property has a loan-to-value of 80% or less. The Annual Percentage Rate (APR) is based on a loan amount of $200,000. Please contact us at 844-562-6725 for a customized rate and payment quote.</p>
		</div>
		<script src="../plugin/jquery/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugin/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<!--[if lte IE 9]>
			<script src="../plugin/bootstrap/js/html5shiv.js" type="text/javascript" charset="utf-8"></script>
		<script src="../plugin/bootstrap/js/respond.min.js" type="text/javascript" charset="utf-8"></script>
		<![endif]-->
	</body>
</html>
